* {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(239, 189, 25);
  display: flex;
  flex-direction: column;
}
header .e1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
header .e1 img {
  width: 125px;
}
header .e1 h1 {
  color: rgb(187, 209, 61);
  margin-right: 3%;
  font-size: 50px;
  text-transform: uppercase;
}
header .e2 {
  padding: 5px;
}
header .e2 nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
header .e2 nav ul li {
  margin-right: 3%;
}
header .e2 nav ul li a {
  background-color: rgb(85, 255, 0);
  padding: 3%;
  border-radius: 10%;
  border: rgb(233, 203, 191) solid 2px;
}

* {
  padding: 0;
  margin: 0;
}

/*CONTROL HEADER*/
header {
  background-color: rgb(249, 125, 231);
  display: flex;
  flex-direction: column;
}

header .e1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

header .e1 img {
  width: 125px;
}

header .e1 h1 {
  color: aqua;
  margin-right: 3%;
  font-size: 50px;
  text-transform: uppercase;
}

header .e2 {
  padding: 5px;
}

header .e2 nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

header .e2 nav ul li {
  margin-right: 3%;
}

header .e2 nav ul li a {
  background-color: yellow;
  padding: 3%;
  border-radius: 10%;
  border: green solid 2px;
}

/*CONTROL MAIN*/
main {
  background-image: url(../assets/backgrounds/fondomain.jpg);
  background-size: cover;
}

/*MAININDEX*/
main .mainindex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .mainindex h2 {
  color: white;
}

main .mainindex img {
  box-sizing: content-box;
}

main .mainindex p {
  color: white;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .promociones__box {
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border: 5px rgb(12, 240, 12) solid;
  background-color: rgba(255, 127, 80, 0);
  border-radius: 5%;
}

.main__contact {
  text-align: center;
}
.main__contact form p label {
  background-color: rgba(50, 54, 12, 0.364);
}

.section__contact--box {
  display: flex;
  flex-direction: column;
}

.main__section--productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section__productos--box {
  border: 5px rgb(247, 252, 247) solid;
  width: 250px;
  border-radius: 5%;
  margin: 3%;
}

.section__productos--h2 {
  text-transform: capitalize;
}

/* main__section--promociones*/
.main__section--promociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2%;
}

.section__promociones--box {
  border: 5px rgb(247, 252, 247) solid;
  background-color: rgba(255, 127, 80, 0);
  border-radius: 5%;
  height: auto;
  margin: 2%;
}

/* main__section--comollegar */
.main__section--comollegar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  align-items: center;
}

.section__comollegar--box {
  align-items: center;
  width: 600px;
}

.section__comollegar--img {
  width: 400px;
}

.section__comollegar--h2 {
  text-align: center;
}

/********************************************************/
/*control de texto*/
h2 {
  color: rgb(247, 245, 250);
  font-size: 40px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  color: rgb(248, 245, 245);
  margin-left: 3%;
}

button {
  background-color: rgb(19, 95, 42);
  width: 87px;
  border-radius: 15%;
}

/*CONTROL FOOTER*/
footer {
  background-image: linear-gradient(to left, rgb(231, 247, 11), rgb(238, 118, 97));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=estilo.css.map *//*# sourceMappingURL=style.css.map */